#titletop {
    text-align: center;
    position: relative;
    bottom: 51px;
    background-color: #CACFD1;
    border: 2px solid #839DA8;
    padding-bottom: 25px;
}

#submit_button {
    margin-top: 24px;
}

.jumbotron {
    /*background-color: #CACFD1;*/
    border: 2px solid #839DA8;
}

#posts_title {
    margin-left: 14px;
}

#row-footerr {
    background-color : #ACBDC4;
    margin-top: 74px;
    border: 2px solid #839DA8;
}

.navbar-nav {
    margin-left: 475px;
}

#author {
    margin-left: 1px;
}

#title {
    margin-left: 1px;
}

#post {
    margin-left: 1px;
}

#delete_button {
    margin-left: 19px;
}

/*#body {*/
    /*background-color: #C2D0D6;*/
/*}*/