#titletop {
    text-align: center;
    margin-bottom: 50px;
}

#submit_button {
    margin-top: 24px;
}

.jumbotron {
    background-color: ghostwhite;
}

#posts_title {
    margin-left: 14px;
}

#row-footerr {
    background-color : ghostwhite;
}

.navbar-nav {
    margin-left: 475px;
}
